.search-result {
    background-color: #f6f6ef;
}

.search-result .container {
    margin: 0 5px;
}

.experimental .search-result .container {
    border-radius: 4px;
    box-shadow: 0 18px 24px rgba(14,16,29,.12);
    width: 99%;
}

.experimental .search-result {
    min-height: calc(100vh - 120px);
    background-color: #f5f5fa;
    padding: 178px 0 0;
}

@media (min-width: 769px) {
    .experimental .search-result{
        padding-left: 254px;
        padding-right: 24px;
    }
}