.story-title {
    width: 100%;
    margin-bottom: 4px;
}

.story-title a {
    color: #000;
}

.story-title a:first-child {
    margin-right: 4px;
}

.story-title .story-link {
    color: #828282;
    font-size: 13px;
    word-break: break-all;
}

.story-title .story-link:hover {
    text-decoration: underline;
}

.experimental.light .story-title a:visited {
    color: rgba(33,36,61,.5);
}

.experimental .story-title a {
    transition: color .1s linear;
    color: #5c5c5c;
    font-size: 16px;
    font-weight: 400;
}