.story {
    font-size: 14px;
    padding: 0 16px;
    min-height: 40px;
}

.experimental .story {
    min-height: 88px;
    padding-left: 18px;
    padding: 16px;
    background-color: #fff;
}

.experimental.dark .story {
    background-color: #32323f;
}

.experimental .story:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.experimental.dark .story:not(:last-child) {
    border-bottom: 1px solid #22222b;
}

.story .story-container {
    display: flex;
    align-items: center;
}

.story .story-data {
    margin: 4px 0;
}