.story-meta {
    font-size: 10.667px;
}

.story-meta a {
    color: #696969;
}

.story-meta a:hover {
    text-decoration: underline;
}

.story-meta .story-separator {
    margin: 0 5px;
    color: #696969;
}