.story-comment {
    padding: 8px 0;
    color: #000;
    font-size: 12px;
    width: 100%;
    line-height: normal;
    font-style: normal;
    font-feature-settings: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
}