.search-input {
    height: 50px;
    width: 100%;
    border: none;
    margin-left: 10px;
    box-shadow: none;
    background-color: white;
    font-weight: 300;
    border-radius: 0;
}

.experimental.light .search-input {
    background-color: rgba(197,201,224,-0.6);
}

.experimental.dark .search-input {
    color: #fff;
    background-color: #32323f;
}

.search-input:focus {
    outline: none;
}
