.filter {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: #f6f6ef;
}

.filter .filter-condition {
    display: flex;
    justify-content: flex-start;
}

.filter .engine-process {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}