.result-time {
    margin-right: 20px;
}

.experimental.dark .result-time {
    color: hsla(0,0%,100%,.8);
}

.social-share {
    position: relative;
}

.social-share .dropdown {
    position: relative;
}

.social-share ul {
    width: 220px;
    background-color: #fff;
    overflow: hidden;
}

.social-share .dropdown-label svg {
    width: 14px;
    color: #9d9d9d;
    margin-left: 8px;
}

.social-share ul li button svg {
    width: 18px;
    margin-left: 8px;
}

.social-share ul li button {
    color: #9d9d9d;
    font-size: 14px;
}

.social-share ul li button:hover {
    color: #ff742b;
}

.experimental.light .social-share .dropdown-label,  .default.light .social-share .dropdown-label {
    border: none;
    color: #9d9d9d;
}

.experimental.light .social-share .dropdown_label {
    color: rgba(33,36,61,.5);
    background-color: transparent;
}

.experimental .social-share .dropdown_label {
    border: none;
    padding: 0 4px 0 8px;
}

.experimental.light .social-share .dropdown-label svg {
    color: #dbddea;
}

.experimental.light .social-share .dropdown:hover svg {
    color: rgba(33,36,61,.8);   
}