.filter-story {
    width: 160px;
    display: flex;
    align-items: center;
}

.filter-story span {
    font-size: 13px;
}

.filter-story .dropdown {
    margin-left: 4px;
}

.dropdown .dropdown-label {
    font-size: 14px;
    padding: 0 4px 0 8px;
    margin: 0 8px 0 2px;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: #5c5c5c;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}

.dropdown-label svg {
    width: 14px;
    margin-left: 4px;
}

.dropdown-list {
    visibility: hidden;
    opacity: 0;
    z-index: 500;
    background-color: #fff;
    color: #5c5c5c;
}