.filter {
    display: flex;
    justify-content: space-between;
}
.default.light .filter {
    padding: 10px 10px;
    background-color: #f6f6ef;
}

.experimental.light .filter {
    padding-left: 254px;
    padding-right: 24px;
    background-color: #f5f5fa;
    color: rgba(33,36,61,.5);
    height: 80px;
    align-items: center;
    position: fixed;
    top: 100px;
    width: 84%;
}

.filter .filter-condition {
    display: flex;
    justify-content: flex-start;
}

.experimental.light .filter-condition {
    padding-left: 8px;
}

.filter .engine-process {
    display: flex;
    justify-content: flex-start;
    font-size: 13px;
}

.filter-by {
    display: flex;
    align-items: center;
    position: relative;
}

.filter-by span {
    font-size: 13px;
}

.experimental.light .filter-by span {
    margin: 0 8px;
}

.filter-by .dropdown {
    margin-left: 4px;
    position: relative;
}

.experimental.light .filter-by .dropdown {
    color: rgba(33,36,61,.8);
    background-color: rgba(197,201,224,.4);
}

.dropdown .dropdown-label {
    font-size: 14px;
    padding: 0 4px 0 8px;
    margin: 0 8px 0 2px;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: #5c5c5c;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    position: relative;
}

.experimental.light .filter-by .dropdown-label {
    border: none;
}

.dropdown-label svg {
    width: 14px;
    margin-left: 4px;
}

.dropdown-list {
    visibility: hidden;
    z-index: 500;
    opacity: 0;
    background-color: #fff;
    color: #5c5c5c;
    position: absolute;
    right: 0;
    top: 120%;
    border: 1px solid #c3c3c3;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    white-space: nowrap;
    overflow: hidden;
}

.dropdown-list-open {
    opacity: 1;
    visibility: visible;
}

.dropdown-animation {
    opacity: 1;
    transform: translate(0);
    transition: all .3s;
}

.dropdown-list li {
    font-size: 14px
}

.dropdown-list li:not(:last-child) {
    border-bottom: 1px solid #e6e8ea;
}

.dropdown-list li button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    appearance: none;
    border: none;
    width: 100%;
    margin-left: 0!important;
    padding: 8px 16px;
    background-color: #fff;
    color: #5c5c5c;
}

.filter .filter-settings {
    font-size: 12px;
    margin: 0;
}