.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6ef;
    padding: 8px 0;
    margin-top: 0;
}

.experimental.dark .pagination {
    background-color: transparent;
}

.pagination-item button{
    padding: 0;
    min-width: 30px;
    height: 24px;
    font-size: 12px;
    margin: 0 2px;
    color: #9d9d9d;
    border: 1px solid #9d9d9d;
    text-align: center;
    border-radius: 2px;
    font-weight: 400;
    background-color: transparent;
}

.current button {
    color: #ff742b;
    border: 1px solid #ff742b;
}

.experimental.light .pagination-item button {
    border: none;
    color: rgba(58,65,111,.4);
}

.experimental.light .pagination-item.current button {
    background-color: #fff;
    color: #3a416f;
    border: 1px solid rgba(58,65,111,.5);
}