.header {
    background-color: #ff742b;
    height: 70px;
    padding: 5px;
}

.header-search {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 12%;
}

.header .search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 78%;
    background-color: white;
    margin-right: 30px;
}

.header .setting-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
}