.experimental.light .sidebar {
    background-color: #f5f5fa;
    z-index: 99999;
}

.experimental.dark .sidebar {
    background-color: #22222b;
}

.sidebar {
    position: fixed;
    top: 95px;
    height: 100%;
    padding-top: 35px;
    z-index: 10;
    overflow: auto;
    width: 220px;
}