.settings {
    font-size: 14px;
    background-color: #f6f6ef;
}

.experimental .settings {
    padding-top: 208px;
    padding-left: 254px;
}

.experimental.light .settings {
    background-color: #fff;
}

.experimental.dark .settings {
    background-color: #22222b;
}


.settings .settings-fieldset {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    flex-direction: column;
    margin:16px;
}

.experimental.dark .settings .settings-fieldset {
    border: none;
    background-color: #32323f;
}

.settings fieldset {
    padding: .35em .75em .625em;
}

.experimental.light .settings fieldset {
    background-color: #f5f5fa;
}

.experimental.light .settings-fieldset {
    background: #f7f7f7;
    border: 1px solid #fdfafa;
    margin: 16px;
}

.settings-fieldset h2 {
    color: #5c5c5c;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 24px;
}

.experimental .settings-fieldset h2 {
    border-bottom: 1px solid transparent;
}

.experimental.dark .settings-fieldset h2 {
    color: hsla(0,0%,100%,.85);
}

.settings .setting-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.setting-row label {
    width: 50%;
    margin-right: 24px;
    text-align: right;
    color: #5c5c5c;
}

.experimental.dark .setting-row label {
    color: hsla(0,0%,100%,.85);
}

.setting-row .setting-input {
    width: 50%;
}

.setting-input select {
    color: #5c5c5c;
    max-width: 100%;
}

.settings .setting-apply {
    padding: 0 24px 24px;
    text-align: right;
}

/* .setting-apply button:disabled {
    opacity: .7;
    cursor: not-allowed;
} */

.setting-apply button {
    padding: 8px 16px;
    border: 0 solid #ccc;
    border-radius: 4px;
    color: #fff;
    background-color: #ff742b;
}

.experimental.light .setting-apply button {
    color: #3a416f;
    background-color: rgba(197,201,224,.4);
}

.experimental.dark .setting-apply button {
    color: hsla(0,0%,100%,.42);
    background-color: rgba(197,201,224,.4);
}

.settings #login {
    width: 240px;
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid #a6a6a6;
}

.experimental.light .settings h2 {
    color: #3a416f;
    border-bottom: 1px solid transparent;
}