.header .setting-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.default.light .setting-icon i {
    font-size: 24px;
    margin: 0 8px;
}

.experimental .setting-icon i {
    margin-right: 8px;
}

.experimental.light .setting-icon i {
    color: #3a416f;
    width: 14px;
}

.default.light .setting-icon span {
    font-size: 18px;
    color: #000;
}

.experimental.light .setting-icon span {
    font-size: 14px;
    color: #3a416f;
}

.experimental .setting-icon {
    font-size: 14px;
    min-width: 96px;
}

.experimental.light .setting-icon {
    color: rgba(33,36,61,.8);
    background-color: rgba(197,201,224,.4);
}

.experimental.dark .setting-icon {
    color: hsla(0,0%,100%,.85);
    background-color: rgba(23,23,30,.4);
}