.footer {
    padding-top: 8px;
}

.footer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4px 8px 24px;
    margin: 0;
}

.footer-list li {
    padding: 4px;
    font-size: 12px;
}

.footer-list a {
    color: #000;
}