.defaut .light {
  font-family: Verdana;
}

.experimental .light {
  background-color: #f5f5fa;
  color: #3a416f;
}

body {
  font-family: Verdana,Geneva,sans-serif; 
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  .container {
      width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
      width: calc(85% - 10px);
      margin: 0 auto;
  }
}